:root {
    --primaryColour: #F4E9CD; /*Morning Breeze*/
    --secondaryColour: #0081C3; /*Cerulean Blue*/
    --textColour: #000000; /*Black*/
}

html {
    /*background-color: var(--textColour);*/
    background-image: url(../images/code.jpg);
    background-size:contain;
    min-width:330px;
}

hr {
    color: #123455 var(--secondaryColour);
    background-color: var(--secondaryColour);
    border-color: var(--secondaryColour);
}

.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: var(--secondaryColour);
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

body{
    background-color: transparent;
    min-height:100vh;
}

.content {
    background: linear-gradient(to right, var(--primaryColour) 0%, var(--primaryColour) 96%, rgba(244,233,205,0) 99%);
    min-height: 100vh;
    padding-left: 5%;
}

.navbg {
    background-color: var(--primaryColour);
    width: 50%;
    height: 100vh;
    z-index:0;
    left: 0;
    position:fixed;
}

.Head{
    padding-top:30px;
}
.footer{
    padding-top:30px;
    padding-bottom:30px;
}
.contact{
    border: 2px solid var(--secondaryColour);
    border-radius: 10px;
    padding: 5px;
    margin: 40px 20px 20px 20px;
}
.portrait{
    max-width:60%;
}
.imgdiv{
    text-align:center;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }

    .portrait {
        max-width: 40%;
    }

    .content {
        background-color: var(--primaryColour);
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: 20%;
    }

    .main-nav .navbar {
        border-radius: 0;
        border-width: 0;
        height: 100%;
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0;
    }
    .main-nav .navbar ul {
        float: none;
    }
    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
